$purple: #7406AB;
$white: #ffffff;
$grey: #787878;
$dark-gray: 4F4F4F;
@mixin laptop {
    @media (max-width: 1024px) { @content; }
}
@mixin ipad {
    @media (max-width: 768px) { @content; }
}
@mixin iphone {
    @media (max-width: 425px) { @content; }
}

*{
    
    list-style: none;
}
p{
    margin: 0px;
}
.row{
    margin: 0px;
    padding: 0px;
}
.center{
    padding: 2rem 10rem;
    @include laptop{
        padding: 2rem;
    }
    @include ipad{
        padding: 2rem 1rem;
    }
    @include iphone{
        padding: 1rem;
    }
}
.normal-size-text{
    font-size: 18px;
    @include iphone{font-size: 12px;}
}
.big-size-text{
    font-size: 36px;
    @include iphone{font-size: 18px;}
}
.download-button{
    background-color: $white;
    color: $purple;
    font-weight: 700;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    border-radius: 5px;
    padding: 0.25rem 2.25rem;
}
.header{
    position: relative;
    .banner{
        height: 700px;
        @include laptop{
            // height: 550px;
        }
    }
    .header-container{
        padding: 3rem 10rem;
        padding-bottom: 0px;
        position: absolute;
        left: 0%; 
        top: 0%;
        @include laptop{
            padding: 2rem 1rem;
        }
        @include ipad{
            padding: 2rem 1rem;
        }
        .download-btn{
            @extend .download-button;
        }
        .menu{
            color: $white;
            .logo_name{
                color: $white;
                font-size: 24px;
                font-family: Roboto;
            }
            .menu-coin{
                @include iphone{
                    display: none;
                }
            }
            .menu-item{
                display: flex;
                align-items: center;
                margin-right: 1rem;
                @include iphone{
                    display: none;
                }

                .menu-title{
                    font-size: 11px;
                }
                .menu-info{
                    font-size: 9px;
                }
            }
        }
        .app-download{
            @include iphone{
                flex-direction: column;
            }
            img{
                margin-bottom: 2rem;
            }
        }
        .phone-img{
            @include ipad{
                display: none;
            }
        }
    }
}

.body-container{
    padding-top: 2rem;
    .title{
        // font-size: 24px;
        font-weight: 500;
        vertical-align: middle;
        margin-left: 1rem;
        @include iphone{
            margin: 0px;
        }
    }

    .categories{
        @include iphone{
            margin: 0 !important;
        }
        .title{
            // width: 600px; 
            display: inline-block;
            // font-size: 36px;
            font-weight: 700;
            @include iphone{
                margin: 0px !important;
            }
        }
        .box-cover{
            width: 100%;
            border: solid 1px #989898;
            border-radius: 10px;
            padding: 1.75rem 1rem;
            margin-bottom: 1rem;
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.05);
            display: flex;
            justify-content: start;

            .check-icon{
                margin-right: 1rem;
            }
        }
        
    }
    .download-btn{
        @extend .download-button;
        background-color: $purple;
        color: $white;
        padding: 1rem 2rem;
        margin: 3rem;
    }
    .introduction{
        // width: 100%;
        background-color: #F4F4F4;
        @include iphone{
            padding: 1rem !important;
        }
        .intro-detail{
            @include iphone{
                width: 100% !important;
            }
        }
    }

    .info{
        @include iphone{
            margin: 0px !important;
        }
        .text1{
            color: $grey;
            font-size: 18px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            font-weight: 500;
        }
        .text2{
            color: $purple;
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        .text3{
            @extend .text1;
            text-transform: none;
            font-weight: 400;
            text-align: justify;
        }
        img{
            width: 100%;
        }
        .download-btn{
            margin: 0px;
            margin-top: 3rem;
        }
    }

    .tutorior{
        text-align: center;
        .cover-img{

            height: 60%;
            img{
                width: 100%;
                height: 100%;
            }
        }
        
    }

    .partner{
        .title{
            @extend .introduction;
            text-align: center;
            position: relative;
            padding-bottom: 7rem;
            img{
                margin-right: 2rem;
                @include ipad{
                    width: 15%;
                }
            }
        }
        .box-cover{
            position: absolute;
            top: -45%;
            width: 70%;
            box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1);
            background-color: white;
            border-radius: 20px;
            margin: 0px;
            @include ipad{
                width: 90%;
            }
        }
        .quote-container{
            .quote{
                font-size: 2rem;
                font-weight: 500;
                @include iphone{
                    font-size: 1.5rem !important; 
                }
            }
        }
    }
    
    #carousel_intro{
        .carousel-caption{
            // bottom: 40%;
        }
    }

    .success{
        @extend .partner;

        .number{
            color: $purple;
            font-size: 36px;
            font-weight: 700;
            text-align: center;
        }
        .text{
            color: $dark-gray;
            font-size: 18px;
            text-align: center;
        }
        .box-cover{
            padding: 3rem 5rem;
            top: -30%;
            @include ipad{
                padding: 2rem 1rem;
            }
        }
    }
    
}

.footer{
    background-color: #F2F2F2;
    width: 100%;
    padding: 5rem;
    @include iphone{
        padding: 1rem;
    }
    .text{
        color: #686868;
        font-size: 18px;
        
    }
}
